@import '../../styles/variable.less';

.question-container {
  padding: 0 30px;
  .title {
    font-size: 36px;
    .tag {
      background-color: @green;
      color: white;
      margin-right: 20px;;
      padding: 4px 12px;
      font-size: 24px;
      border-radius: 0px 12px 0 12px;
    }
  }
}